<div class="countryInfo" @changeInfo>
  <h2>{{ countryData.name }}</h2>
  <h3>{{ countryData.nativeName }}</h3>
  <div class="flag">
    <img src="{{ countryData.flag }}" alt="">
  </div>
  <table>
    <tr>
      <td>Region:</td>
      <td><span>{{ countryData.subregion }}</span></td>
    </tr>
    <tr>
      <td>Continent:</td>
      <td><span>{{ countryData.region }}</span></td>
    </tr>
    <tr>
      <td>Capital:</td>
      <td><span>{{ countryData.capital }}</span></td>
    </tr>
    <tr>
      <td>Population:</td>
      <td><span>{{ countryData.population }}</span></td>
    </tr>
    <tr>
      <td>Area:</td>
      <td><span>{{ countryData.area }} m<sup>2</sup></span></td>
    </tr>
    <tr>
      <td>Neighbouring countries:</td>
      <td>
        <ul>
          <li class="link" *ngFor="let border of countryData.borders" (click)="findAnother(border)">{{ border }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Regional organizations:</td>
      <td>
        <ul>
          <li *ngFor="let bloc of countryData.regionalBlocs">{{ bloc.acronym }} - {{ bloc.name }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Currencies:</td>
      <td>
        <ul>
          <li *ngFor="let currency of countryData.currencies">{{ currency.code }}</li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Languages:</td>
      <td>
        <ul>
          <li *ngFor="let lang of countryData.languages">{{ lang.name }}</li>
        </ul>
      </td>
    </tr>
  </table>

